<h1>Edit Form</h1>

<form action="" method="POST" >
<label name="name">Name</label>
<input type="text" id="name" name="name"><br><br>
<label name="checkbox">Checkox</label>
<input type="checkbox" id="checkbox" value="check" name="checkbox"><br><br>
<label name="tablename">Table Name</label>
<input type="text" id="tablename" name="tablename"><br><br>
<label name="age">Age</label>
<input type="number" id="age" name="age"><br><br>
<label name="percentage">Percentage</label>
<input type="number" id="percentage" readonly name="percentage"><br><br>
<button type="submit">Submit</button>
</form>
<script>
    var d = document.getElementById('age');
    var e = document.getElementById('percentage');
    d.oninput = function () {
      e.value = 0.15*d.value; // Set the value of e to the value of d
    };
  </script>